body {
  padding: 0;
  margin: 0;

  font-family: Arial, Helvetica, sans-serif;
}
div {
  box-sizing: border-box;
  text-align: center;
}

a {
  text-decoration: none;
  color: lightslategray;
}

p {
  margin: 0;
  padding: 20px;
}
h1 {
  font-weight: lighter;
}

#container {
  width: 100%;
  background-color: #ece4ec;
}

#top {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  background-color: linen;
}
#menu {
  position: fixed;
  top: 80px;
  width: 100%;
  height: 60px;
  background-color: darkslategray;
  padding: 20px;
}
#menu a {
  padding-right: 20px;
}

#main {
  margin-top: 140px;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.left,
.right {
  text-align: center;
  padding: 20px;
  margin: 20px 0px;
  border: 1px solid grey;
  background-color: lightyellow;
  height: 200px;
}

#header {
  width: 100%;
  height: 150px;
  background-color: #c1ecec;
  text-align: center;
  padding: 20px;
  margin-top: 0;
}

#footer {
  bottom: 0;
  width: 100%;
  height: 100%;
  background-color: #c1ecec;
  text-align: center;
  padding: 20px;
  color: darkslategray;
}

@media screen and (min-width: 800px) {
  #main div {
    float: left;
  }
  .left {
    width: 67%;
    height: 320px;
    margin: 20px;
  }
  .right {
    width: 28%;
    height: 320px;
  }
}
